
<% provide(:title, "Administrative Page") %>

<div class="container-fluid">

	<section class="container admin">

		<div class="row">
			<h1>Admin Panel</h1>
		</div>

		<% w = 5 #column width %>

		<div class="row">
			<div class="col-sm-<%=w%>">
				<h3>Trips</h3>
				<ul>
					<li><%=link_to 'New trip', new_admin_trip_path %></li>
					<li><%=link_to 'All trips', admin_trips_path %></li>
				</ul>
			</div>
			<div class="col-sm-<%=w%>">
				<h3>Activities</h3>
				<ul>
					<li><%=link_to 'New activity', new_admin_activity_path %></li>
					<li><%=link_to 'All activities', admin_activities_path %></li>
				</ul>
			</div>			
			<div class="col-sm-<%=w%>">
				<h3>Locations</h3>
				<ul>
					<li><%=link_to 'New location', new_admin_location_path %></li>
					<li><%=link_to 'All locations', admin_locations_path %></li>
				</ul>
			</div>
			<div class="col-sm-<%=w%>">
				<h3>Companies</h3>
				<ul>
					<li><%=link_to 'New company', new_admin_company_path %></li>
					<li><%=link_to 'All companies', admin_companies_path %></li>
				</ul>
			</div>
			<div class="col-sm-<%=w%>">
				<h3>Guides</h3>
				<ul>
					<li><%=link_to 'New guide', new_admin_guide_path %></li>
					<li><%=link_to 'All guides', admin_guides_path %></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-<%=w%>">
				<h3>Client Agreements</h3>
				<ul>
					<li><%=link_to 'New client agreement', new_admin_client_agreement_path %></li>
					<li><%=link_to 'All client agreements', admin_client_agreements_path %></li>
				</ul>
			</div>
			<div class="col-sm-<%=w%>">
				<h3>Privacy Policy</h3>
				<ul>
					<li><%=link_to 'New Privacy Policy', new_admin_registration_agreement_path %></li>
					<li><%=link_to 'All Privacy Policies', admin_registration_agreements_path %></li>
				</ul>
			</div>
		</div>
	</section>

</div>