<% provide(:title, 'Reset password') %>

<section class="devise">

	<h2 class="is-center">Reset your password</h2>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
			<%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f| %>
				<%= devise_error_messages! %>
				<fieldset class="form-group">
					<%= f.email_field :email, autofocus: true, :placeholder => "your email", :class => "form-control"  %>
				</fieldset>


				<%= f.submit "Send me reset password instructions", :class => "btn btn-primary btn-lg" %>
			<% end %>
		</div>
	</div>

	<%= render "devise/shared/links" %>

</section>